:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #252A33;
  --color-bg-base: #2E3440;
  --color-bg-surface: #373E4D;
  --color-bg-highlight: #40495A;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #61405B;
  --color-primary-base: #B48EAD;
  --color-primary-fg: #F4EFF3;
  --color-secondary-bg: #2D4058;
  --color-secondary-base: #5E81AC;
  --color-secondary-fg: #B6C6D9;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: JetBrainsMono Nerd Font;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 890px;
  --surface-shadow: 6px 6px 12px rgb(97, 64, 91), 12px 12px 12px rgb(79.66666666666667, 64, 90), 18px 18px 12px rgb(62.333333333333336, 64, 89), 24px 24px 12px rgb(45, 64, 88);
  --surface-borderRadius: 16px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
